In [ ]:
print("My name is Mariya Mithaiwala")

My name is Mariya Mithaiwala

In [ ]:
x= "My name is "
y= "Mariya Mithaiwala"
print(x+y)

My name is Mariya Mithaiwala

In [ ]:
abc= "I'm Mariya"
print(abc)

I'm Mariya

In [ ]:
xyz='I am Mariya'
print(xyz)

I am Mariya

In [ ]:
one = 15
five = 6
print(one%five)

1

3

1

In [ ]:
x= True
y = False
print(x and y)

False

In [ ]:
#a Comparison function
x= 5
y= 10
z= 15
print(x!=y)

True

In [ ]:
# Assis operatiors
x= "Str"
print("The value of x is ", x)

The value of x is  Str

In [ ]:
type(x)

str

In [ ]:
# List
e1= ['apple', 'banana', 'pear', 'orange']
e2= ['grape','cherry']
print(e1, e2)

['apple', 'banana', 'pear', 'orange'] ['grape', 'cherry']

In [ ]:
e3= e1+e2
print(e3)

['apple', 'banana', 'pear', 'orange', 'grape', 'cherry']

In [ ]:
e3.append('grapefruit')
print(e3)

['apple', 'banana', 'pear', 'orange', 'grape', 'cherry', 'grapefruit', 'grapefruit']

In [ ]:
e3.insert(1,"mango")
e3

['apple',
 'mango',
 'mango',
 'mango',
 'mango',
 'mango',
 'banana',
 'pear',
 'orange',
 'grape',
 'cherry',
 'grapefruit',
 'grapefruit']

In [ ]:
e3.remove("mango")
e3

['apple',
 'mango',
 'mango',
 'mango',
 'banana',
 'pear',
 'orange',
 'grape',
 'cherry',
 'grapefruit',
 'grapefruit']

In [ ]:
e3.sort()
e3

['apple',
 'banana',
 'cherry',
 'grape',
 'grapefruit',
 'grapefruit',
 'mango',
 'mango',
 'mango',
 'orange',
 'pear']

In [ ]:
len(e3)

10

10

In [ ]:
# tuple
e4 = ("mango", "apple", "banana")
e4

('mango','apple','banana')

('mango', 'apple', 'banana')

In [ ]:
"grapes" in e4

False

In [ ]:
e4.count("grapes")

0

In [ ]:
e4.count("grapes")

0

In [ ]:
e4.index("mango")

0

In [ ]:
#set
g1 = {1,4,5}

In [ ]:
#set
g1 = {1,4,5}
g1

{1, 4, 5}

In [ ]:
# dic
g1= {'one': 1, 'two': 2}
g1

{'one': 1, 'two': 2}

In [ ]:
h = {'firstName': "Mariya",
"LastName": "ithaiwala" ,
"Address" : "Hoboken" ,
"No": 4564446}
print(h)

{'firstName': 'Mariya', 'LastName': 'ithaiwala', 'Address': 'Hoboken', 'No': 4564446}

In [ ]:
# For Loop

for i in e3:
  if len(i) > 5:
    print(i)

banana
cherry
grapefruit
grapefruit
orange

In [ ]:
d= 1
e= 10
while d < e:
  print(d)
  d=d+1

1
2
3
4
5
6
7
8
9

In [ ]:
Generators & Iterators
A generator creates a set of values returned in an iterator.
An iterator is an object that can be iterated on.
Every generator is an iterator, but not vice versa.

SyntaxError: ignored

In [ ]:
numbers = range (5)     #Generates a sequence of numbers from 0 to 4
print(numbers)          #range (5) is the same as range (0,5,1)
print(type(numbers))    #range (start, stop, step)
print(list(numbers))

range(0, 5)
<class 'range'>
[0, 1, 2, 3, 4]

In [ ]:
even_numbers = range (2,10,2)
print(even_numbers)
print(list(even_numbers))

range(2, 10, 2)
[2, 4, 6, 8]

In [ ]:
squares = []

for x in even_numbers:
  squares.append(x**2)

  squares

In [ ]:
numbers_2 = range(10)
print('numbers_2 =', list(numbers_2))

# [ EXPRESSION for ITEM in ITERABLE if CONDITION ]
numbers_2_subset =  [x for x in numbers_2 if x < 5]

print('numbers_2_subset =', numbers_2_subset)

numbers_2 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers_2_subset = [0, 1, 2, 3, 4]

In [ ]:
even_sqaures = [ x**2 for x in range(10) if x % 2 == 0 ]
even_sqaures

[0, 4, 16, 36, 64]

In [ ]:
numbers_3 = range(0,100,10)
print(list(numbers_3))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
[0,10,20,30]
[0,10,20,30]

[0, 10, 20, 30]

In [ ]:
# First n elements of a list
numbers_3a = numbers_3[0:4]
print(list(numbers_3a))

numbers_3b = numbers_3[:4]
print(list(numbers_3b))

[0, 10, 20, 30]
[0, 10, 20, 30]

In [ ]:
# Last n elements of a list
numbers_3c = numbers_3[-3:]
print(list(numbers_3c))

[70, 80, 90]

In [ ]:
# all but last n elements of a list
numbers_3d = numbers_3[:-4]
print(list(numbers_3d))

[0, 10, 20, 30, 40, 50]

In [ ]:
# second to fourth elements of a list
numbers_3e = numbers_3[1:4]
print(list(numbers_3e))

[10, 20, 30]

In [2]:
clist = ['Canada', 'USA', 'Mexico', 'Australia', 'China', 'Japan']


# first element, first 4 elements, last element, last 2 elements, second to fourth elements

print(clist[0:1])
print(clist[0:4])
print(clist[-1:])
print(clist[-2:])
print(clist[2:4])

['Canada']
['Canada', 'USA', 'Mexico', 'Australia']
['Japan']
['China', 'Japan']
['Mexico', 'Australia']

In [3]:
def function_name(parameters):
  #function body
    return xxx

    function_name()

In [4]:
def calc(a,b):
  c=a+b
  return c

calc(10,20)

30

In [5]:
def raise_to(number, power):
    new_value = number ** power
    return new_value

raise_to(4, 3)

64

In [ ]:
def raise_to(number, power):
  new_value = number ** power
  return new_value
raise_to(power=3, number=4)

64

In [ ]:
def raise_to_with_default(number, power=2):
  return number ** power

raise_to_with_default(8)

64

In [6]:
def raise_to_with_default(number, power=2):
    """Raise a number to a power. Default power = 2."""
    return number * power
raise_to_with_default.__doc__
#_doc_ returns the module docstring

'Raise a number to a power. Default power = 2.'

In [ ]:
first_name = input("Enter your first name : ")
last_name = input("Enter your last name : ")
print(first_name,last_name)
print("My name is ",first_name, last_name)

Enter your first name : ciping
Enter your last name : wu
ciping wu
My name is  ciping wu

In [ ]:
a = int(input("Please enter a number:"))
b = int(input("Please enter another number:"))
print(a+b)

Please enter a number:5
Please enter another number:4
9

In [ ]:
# conver Fahrenheit to Celsius

Fahrenheit = float(input('Please enter the temperature in fahrenheit:'))
Celsius = (Fahrenheit-32)*5/9

print("tempertature in Celsius: " , Celsius)

Please enter the temperature in fahrenheit:32
tempertature in Celsius:  0.0

In [ ]:
fahrenheit = input('Please enter the temperature in fahrenheit:')
type(fahrenheit)

Please enter the temperature in fahrenheit:32

str